:root {
    --color-main: #45A3FA;
    --bg-1: #fafafa;
    --color-base-0: #FFFFFF;
    --color-base-60: #F0F2F0;
    --color-base-125: #E0E2E0;
    --color-base-250: #C0C2C0;
    --color-base-375: #A0A2A0;
    --color-base-500: #808280;
    --color-base-625: #606260;
    --color-base-750: #404240;
    --color-base-875: #202220;
    --color-base-940: #0F110F;
    --color-base-1000: #000000;

    --font-main: "Inter";
    --font-semi: 600;
    --font-bold: 700;
    --font-ds4: 48px;
    --font-ds3: 40px;
    --font-ds2: 32px;
    --font-ds1: 28px;
    --font-h1: 24px;
    --font-h2: 20px;
    --font-h3: 16px;
   
}
